<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="AuthWebService.LoginService">
                <host>
                    <baseAddresses>
                        <add baseAddress="https://localhost:8733/AuthService/LoginService/" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpsBinding" contract="AuthWebService.ILoginService" />
                <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
                    <serviceDebug includeExceptionDetailInFaults="False" />
                    <serviceCredentials>
                        <serviceCertificate x509FindType="FindBySubjectName" findValue="localhost" storeLocation="LocalMachine" storeName="My" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
